@using System.Web.Optimization
@using HeavyRain.Helpers
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>@ViewBag.Title - Heavy Rain</title>
    
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Content/jquery-1.7.1.min.js"></script>
    
    <meta charset="utf-8"/>
    
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/javascript/bootstrap")
        
</head>
<body>
    <div id="Container" class="container">
            
        <header class="row">
            <div class="span12" style="height: 347px;">
                <div id="MenuRow" class="row">
                    <div class="span12">
                        <nav class="">
                            <ul id="menu">
                                <li>@Html.MenuLink("Home", "Home", "Site")</li>
                                <li>@Html.MenuLink("Banda", "Band", "Site")</li>
                                <li>@Html.MenuLink("Contato", "Contact", "Site")</li>
                                <li>@Html.MenuLink("Fotos", "Photos", "Site")</li>
                                <li>@Html.MenuLink("Músicas", "Musics", "Site")</li>
                                <li>@Html.MenuLink("Shows", "Musics", "Site")</li>
                            </ul>
                        </nav>
                        
                    </div>
                </div>

                <div id="BannerRow" class="row">
                    <div class="span12">
                        <div style="max-width: inherit; height: 300px; border:black solid 1px; margin-left:auto; margin-right: auto; background-color: #E5E5E5; margin-bottom: 15px;">
                            @*<img src="../../Content/LogoHR.jpg" alt="Logo"/>*@
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="Main" class="container">
            
            @RenderBody()
            
        </div>
    
        <footer class="row">
            <div id="footer" class="span12">
                <p>&copy; @DateTime.Now.Year - Heavy Rain</p>
            </div>
        </footer>
        
    </div>
</body>
</html>
    
    
