@using System.Web.Optimization
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>@ViewBag.Title - Heavy Rain</title>
    
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    
    <meta charset="utf-8"/>
    
    @Styles.Render("~/Content/bootstrap")

</head>
<body>
    <header class="container">
		<div class="row">
			<div class="span12">
				Heavy Rain
			</div>
		</div>
    </header>
    
    <nav class="container">
		<ul id="menu">
			<li>@Html.ActionLink("Home", "Home", "Site")</li>
			<li>@Html.ActionLink("Banda", "Band", "Site")</li>
			<li>@Html.ActionLink("Contato", "Contact", "Site")</li>
			<li>@Html.ActionLink("Fotos", "Photos", "Site")</li>
		    <li>@Html.ActionLink("Músicas", "Musics", "Site")</li>
            <li>@Html.ActionLink("Shows", "Musics", "Site")</li>
		</ul>
	</nav>

    <div class="container">
            
        @RenderBody()
            
    </div>
    
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - Heavy Rain</p>
    </footer>
</body>
</html>
    
    
