@using System.Web.Optimization
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>@ViewBag.Title - Heavy Rain</title>
    
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    
    <meta charset="utf-8"/>
    
    @Styles.Render("~/Content/bootstrap")

</head>
<body>
    <header class="container">
		<div class="row">
			<div class="span12">
				Heavy Rain
			</div>
		</div>
    </header>
    
    <nav class="container">
		<ul id="menu">
			<li>Home</li>
			<li>Banda</li>
			<li>Contato</li>
			<li>Fotos</li>
			<li>Músicas</li>
		</ul>
	</nav>

    <div class="container">
        <div class="row">
            @RenderSection("featured", false)
            <section class="span12">
                @RenderBody()
            </section>
        </div>
    </div>
    
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - Heavy Rain</p>
    </footer>
</body>
</html>
    
    
