@using System.Web.Optimization
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>@ViewBag.Title - Heavy Rain</title>
    
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    
    <meta charset="utf-8"/>
    
    @Styles.Render("~/Content/bootstrap")
        
</head>
<body>
    <div id="Container" class="container">
            
        <header class="row">
            <div class="span12">
                <div id="MenuRow" class="row">
                    <div class="span12">
                        <nav class="container">
                            <ul id="menu">
                                <li>@Html.ActionLink("Home", "Home", "Site")</li>
                                <li>@Html.ActionLink("Banda", "Band", "Site")</li>
                                <li>@Html.ActionLink("Contato", "Contact", "Site")</li>
                                <li>@Html.ActionLink("Fotos", "Photos", "Site")</li>
                                <li>@Html.ActionLink("Músicas", "Musics", "Site")</li>
                                <li>@Html.ActionLink("Shows", "Musics", "Site")</li>
                            </ul>
                        </nav>
                        
                    </div>
                </div>

                <div id="BannerRow" class="row">
                    <div class="span12" style="height: 250px; border:black solid 1px"></div>
                </div>
            </div>
        </header>

        <div id="Main" class="container">
            
            @RenderBody()
            
        </div>
    
        <footer class="row">
            <p>&copy; @DateTime.Now.Year - Heavy Rain</p>
        </footer>
        
    </div>
</body>
</html>
    
    
