@using System.Web.Optimization
@using HeavyRain.Helpers
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Master.cshtml";
}



<div id="Row1" class="row">
    <section id="Gallery" class="span8">
        <div class="row">
            <div class="span8 ColumnHeader">
                <h3>Fotos</h3>
            </div>
        
            <div class="span8" style="height:200px; margin-top:20px;">
                <div class="list_carousel">
                    <a id="prev2" class="prev" href="#">&lt;</a>
                    <ul id="foo2">
                        <li>H</li>
                        <li>e</li>
                        <li>a</li>
                        <li>v</li>
                        <li>y</li>
                        <li>R</li>
                        <li>a</li>
                        <li>i</li>
                        <li>n</li>
                    </ul>
                    <a id="next2" class="next" href="#">&gt;</a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="Musics" class="span4">
        <div class="row">
            <div class="span4 ColumnHeader">
                <h3>Músicas</h3>
            </div>
            
            <div class="span4" style="height:200px">
                <div style="padding-left: 10%; padding-top: 30%;">
                    <h3>Músicas em breve</h3>
                </div>
                @*<audio controls="controls" style="width: 300px;">
                    <source src="../../Content/Musics/Kirisute Gomen.mp3" type="audio/mp3" />
                    <span> Your browser does not support the audio element. </span>
                </audio>*@
            </div>
        </div>
    </section>
</div>

<div id="Row2" class="row">
    <section id="News" class="span8">
        <div class="row">
            <div class="span8 ColumnHeader">
                <h3>Notícias</h3>
            </div>
        
            <div class="span8" style="min-height: 500px;">
                <div class="NoticeBox">
                    @*Data*@
                    <h3 name="date">Jun 21 -</h3>

                    @*Título*@
                    <h3 name="title">Site Heavy Rain no Ar!</h3>
                
                    @*Descrição*@
                    <p>
                        Site da Heavy Rain no ar galera, naveguem através dele para vocês
                        nos conhecerem melhor a nossa banda!
                        <br/>
                        <br/>
                        Veja @Html.MenuLink("fotos", "Photos", "Site"), nossa @Html.MenuLink("formação", "Band", "Site"), vídeos, @Html.MenuLink("músicas", "Musics", "Site") e mais.
                        <br/>
                        <br/>
                        Curtam o site avontade e lembrem-se que a tempestade sempre está a espreita!
                    </p>
                
                    <hr/>
                </div>
                @*<br/>*@
                
                <div class="NoticeBox">
                    @*Data*@
                    <h3 name="date">Jun 21 -</h3>

                    @*Título*@
                    <h3 name="title">Site Heavy Rain no Ar!</h3>
                
                    @*Descrição*@
                    <p>
                        Site da Heavy Rain no ar galera, naveguem através dele para vocês
                        nos conhecerem melhor a nossa banda!
                        <br/>
                        <br/>
                        Veja @Html.MenuLink("fotos", "Photos", "Site"), nossa @Html.MenuLink("formação", "Band", "Site"), vídeos, @Html.MenuLink("músicas", "Musics", "Site") e mais.
                        <br/>
                        <br/>
                        Curtam o site avontade e lembrem-se que a tempestade sempre está a espreita!
                    </p>

                    <hr/>
                </div>
                
                <div class="NoticeBox">
                    @*Data*@
                    <h3 name="date">Jun 21 -</h3>

                    @*Título*@
                    <h3 name="title">Site Heavy Rain no Ar!</h3>
                
                    @*Descrição*@
                    <p>
                        Site da Heavy Rain no ar galera, naveguem através dele para vocês
                        nos conhecerem melhor a nossa banda!
                        <br/>
                        <br/>
                        Veja @Html.MenuLink("fotos", "Photos", "Site"), nossa @Html.MenuLink("formação", "Band", "Site"), vídeos, @Html.MenuLink("músicas", "Musics", "Site") e mais.
                        <br/>
                        <br/>
                        Curtam o site avontade e lembrem-se que a tempestade sempre está a espreita!
                    </p>

                    <hr/>
                </div>
            </div>
        </div>
    </section>
    
    <section id="Videos" class="span4 pull-right">
        <div class="row">
            <div class="span4 ColumnHeader">
                <h3>Vídeos Recentes</h3>
            </div>
            
            <div class="span4" style="height:200px">
                Videos in here
            </div>
        </div>
    </section>
    
    <section id="Shows" class="span4">
        <div class="row">
            <div class="span4 ColumnHeader">
                <h3>Próximos Shows</h3>
            </div>
            
            <div class="span4">
                <div class="showBox">
                    <div class="showDate">
                        21 SET
                    </div>
                    <div class="ShowPlace">
                        <p>
                            Festival Heavy Rain
                            <br/>
                            Wacken    
                        </p>
                        
                        <div class="Showinfo">
                            <a>Mais Info</a>
                        </div>
                    </div>
                </div>
                
                <div class="showBox">
                    <div class="showDate">
                        19 OUT
                    </div>
                    <div class="ShowPlace">
                        <p>
                            Festival Heavy Rain
                            <br/>
                            Wacken    
                        </p>
                        
                        <div class="Showinfo">
                            <a>Mais Info</a>
                        </div>
                    </div>
                </div>
                
                <div class="showBox">
                    <div class="showDate">
                        23 NOV
                    </div>
                    <div class="ShowPlace">
                        <p>
                            Festival Heavy Rain
                            <br/>
                            Wacken
                        </p>
                        
                        <div class="Showinfo">
                            <a>Mais Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="Sociais" class="span4 pull-right">
        <div class="row">
            <div class="span4 ColumnHeader">
                <h3>Redes Sociais</h3>
            </div>
            
            <div class="span4" style="height:400px">
                <div class="fb-like-box" data-href="https://www.facebook.com/pages/Heavy-Rain-Brazilian-Thrash-Metal/150539801774137" data-width="300"
                     data-height="100" data-show-faces="false" data-colorscheme="dark" data-stream="true" data-show-border="false" data-header="true"></div>
            </div>
        </div>
    </section>
</div>

@Styles.Render("~/css/carousel")
@Scripts.Render("~/javascript/carousel")